<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jenkinsProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F33899D1CB24D9400C03638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F3389B61CB24D9500C03638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F3389C11CB24D9500C03638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
